
<mat-card>
    <mat-card-title>
        <h1>CONTENTS SANDBOX</h1>
    </mat-card-title>
    <mat-card-content>
        @for (thing of things; track thing) {
            <mat-card color="primary">
                <mat-card-content color="primary">
                    {{thingToString(thing)}}
                </mat-card-content>
            </mat-card>
        }
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        <h1>RESOURCES SANDBOX</h1>
    </mat-card-title>
    <mat-card-content>
        @for (resource of containedResources; track resource) {
            <mat-card (click)="navigateResource(resource.url)" color="primary">
                <mat-card-content color="primary">
                    {{resource.name}}
                </mat-card-content>
            </mat-card>
        }
    </mat-card-content>
</mat-card>
<!-- <mat-card>
    <mat-card-title>
        <h1>POD SANDBOX</h1>
    </mat-card-title>
    <mat-card-content>
        <app-pod-selector></app-pod-selector>
        <form>
            <mat-form-field style="width:100%">
              <mat-label>Pod(s)</mat-label>
              <mat-select [(ngModel)]="selectedPod" name="pod">
                @for (pod of pods; track pod) {
                    <mat-option [value]="pod">{{pod}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <p> Selected pod: {{selectedPod}} </p>
            @if (selectedPod) {
                <div  class="pod-button-row">
                    <button mat-raised-button color="primary" (click)="getDataset()">Dataset</button>
                    <button mat-raised-button color="primary" (click)="getDatasetAsTurtle()">Turtle</button>
                </div>
            }
            
        </form>
    </mat-card-content>
</mat-card> -->

 