<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <select matNativeControl placeholder="Issuer" formControlName="oidcIssuer" #oidcIssuer>
            <option value=""></option>
            <option value="https://stage.graphmetrix.net">Graphmetrix</option>
            <option value="https://login.inrupt.com">Inrupt</option>
            <option value="">Other</option>
        </select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Choose</button>
    <!-- <button class="mat-raised-button mat-primary"(click)="save()">Save</button> -->
</mat-dialog-actions>
