.container {
    /* display: grid | inline-grid; */
    display: grid;
    /* grid-template-columns: [first-column] 40px [second-column] auto; */
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: 160px 1fr 70px;
    /* grid-template-rows: 20% 80% 10%; */
    grid-template-areas: 
        "header header header"
        "nav content sidebar"
        "footer footer footer";
        /* "header header"
        "main sidebar"
        "footer footer"; */
    /* grid-gap: 40px; */
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 97vh;
    width: 97vw;
    margin: 0;
    background: yellowgreen;
    
}

/* header, footer, article, nav, div { */
header, footer, article, nav, div {
    padding: 1.2em;
    background: white;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    /* justify-self: stretch; */
}

.footer {
    grid-area: footer;
    /* align-items: end; */
}

/* Stack the layout on small devices/viewports. */
/* @media all and (max-width: 575px) {
    body { 
        grid-template-areas: 
            "header"
            "content"
            "footer";
        grid-template-rows: 80px 1fr 70px;  
        grid-template-columns: 1fr;
   }
} */