/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/prismjs/plugins/toolbar/prism-toolbar.css";
@import "../node_modules/prismjs/themes/prism-okaidia.css";

html, body, app-root {
    height: 100%;
    width: 100%;
  
    margin: 0;
    padding: 0;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mobileHide { display: inline;}

@media only screen and (orientation: portrait) and 
((max-device-width : 480px) or (max-device-width : 700px)) {  
    .mobileHide { display: none;}
    /* Webkit Browsers (Chrome, Safari, and Opera) */
    .element::-webkit-scrollbar {
        display: none; /* Hides the scrollbar */
    }
    /* Firefox */
    .element {
        overflow: -moz-scrollbars-none; /* Hides the scrollbar */
    }
}
