<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <!-- <mat-label>Issuer</mat-label> -->
        <!-- <select matSelect placeholder="Issuer" formControlName="oidcIssuer" #oidcIssuer id="oidcIssuer"> -->
        <!-- <select matNativeControl placeholder="Issuer" formControlName="oidcIssuer" #oidcIssuer>
            <option value=""></option>
            <option value="https://stage.graphmetrix.net">Graphmetrix</option>
            <option value="https://login.inrupt.com">Inrupt</option>
        </select> -->
        <mat-select matNativeControl placeholder="Issuer" formControlName="oidcIssuer" #oidcIssuer id="oidcIssuer">
            <mat-option value="https://stage.graphmetrix.net"></mat-option>
            <mat-option value="https://stage.graphmetrix.net">Graphmetrix</mat-option>
            <mat-option value="https://login.inrupt.com">Inrupt</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="save()">Save</button>
</mat-dialog-actions>
