<div class="container">
<!-- <div class="bucket"> -->
    <div class="item detector">
        <app-size-detector></app-size-detector>
    </div>
    <div  class="item header">
        <app-header></app-header>
    </div>

    <!-- <div ngIf="hideMobile" class="item nav"> -->
    <div class="item nav mobileHide">
         <app-nav-tree></app-nav-tree>
    </div>

    <div class="item fill-area content item-grow">
        <router-outlet></router-outlet>
    </div>

    <!-- <div ngIf="hideMobile" class="item sidebar"> -->
    <div class="item sidebar mobileHide">
        <app-sidebar></app-sidebar>
        
    </div> 

    <!-- <div ngIf="hideMobile" class="item footer"> -->
    <div class="item footer mobileHide">
        <footer></footer>
    </div>
</div>