<div class="header-container">
    <div class="logo-supplier">
        <img src="assets/img/logo/supplier.svg" alt="Supplier" height="150px">
    </div>
    <div class="header-content">
        <!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/">Home</a>
                <a class="nav-item nav-link" routerLink="/account/login">Login</a>
                <a class="nav-item nav-link" routerLink="/account/register">Register</a>
            </div>
        </nav> -->
        <!-- <mat-toolbar> -->
            <mat-toolbar-row>
               <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
               <a mat-button routerLink="/users" routerLinkActive="active">Users</a>
               <a mat-button (click)="login()">LOGIN</a>
               <a mat-button (click)="logoutApp()">LOGOUTAPP</a>
               <a mat-button (click)="logoutIdp()">LOGOUTIDP</a>
            </mat-toolbar-row>
        <!-- </mat-toolbar> -->
    </div>
    <div class="header-user">
        <mat-toolbar-row>
            <h1>{{user?.firstName}}</h1>
            <a mat-button routerLink="account/login" *ngIf="!user">Login</a>
            <a mat-button (click)="logout()" *ngIf="user">Logout</a>
         </mat-toolbar-row>
    </div>
</div>

<!-- 

<mat-toolbar color="primary" class="expanded-toolbar">
        <span>
          <button mat-button routerLink="/">{{title}}</button>
          <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
        </span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
          <mat-icon>power_settings_new</mat-icon>
          Login
        </button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
        <button mat-button routerLink="/game">
          <mat-icon>gamepad</mat-icon>
          Play
        </button>
      </div>
      <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-menu-item routerLink="/game">
        <mat-icon>gamepad</mat-icon>
        Play
      </button>
      <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
        <mat-icon>power_settings_new</mat-icon>
        Login
      </button>
      <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </mat-menu>
    <mat-toolbar color="primary" class="expanded-toolbar">
    <span>
      <button mat-button routerLink="/">{{title}}</button>
      <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button routerLink="/game">
      <mat-icon>gamepad</mat-icon>
      Play
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar> -->
<!-- <mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad</mat-icon>
    Play
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu> -->
<!-- <router-outlet></router-outlet> -->
