<div class="header-container">
    <div class="logo-supplier">
        <img src="assets/img/logo/supplier.svg" alt="Supplier" height="150px">
    </div>
    <div class="header-content">
        <mat-toolbar-row>
            <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a mat-button routerLink="/sandbox" routerLinkActive="active">Sandbox</a>
            <!-- <a mat-button routerLink="/users" routerLinkActive="active">Users</a> -->
            <!-- <a mat-button (click)="login()">LOGIN</a>
            <a mat-button (click)="logoutApp()">LOGOUTAPP</a> -->
            <!-- <a mat-button (click)="logoutIdp()">LOGOUTIDP</a> -->
        </mat-toolbar-row>
    </div>
    <div class="header-user">
        <mat-toolbar-row>
            <!-- <h1>{{user?.firstName}}</h1>
            <h1>{{sessionInfo?.isLoggedIn}}</h1> -->
            <!-- <a mat-button routerLink="account/login" *ngIf="!user">Login</a> -->
            @if(!sessionInfo?.isLoggedIn) {
                <a mat-button (click)="loginApp()">Login</a>
            } @else {
                <a mat-button (click)="logoutApp()">Logout</a>
            }
            <!-- <a mat-button (click)="loginApp()" *ngIf='!sessionInfo?.isLoggedIn'>Login</a>
            <a mat-button (click)="logoutApp()" *ngIf="sessionInfo?.isLoggedIn">Logout</a> -->
        </mat-toolbar-row>
    </div>
</div>